# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store


# Personal files
Astro-blog.md 
Astro-crash.md 
Astro-Figma.md
ASTRO-NOTES.md